<!DOCTYPE html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <div class="alert alert-danger">
    <strong>Danger!</strong> This web interface is under heavy contruction. Play with care! :)
  </div>
<h1>GoWaterPi Web Server</h1>
{% for pin in pins %}
{{ pins[pin].name }}
    {% if pins[pin].state == true %}
    is currently <strong><font color="red">ON</font></strong>
    <div class="col-md-2" align="center"><a href="/{{pin}}/off" class="btn btn-lg btn-default">Turn off</a></div>
    {% else %}
is currently <strong>OFF</strong></h2>
    <div class="col-md-2"  align="center"><a href="/{{pin}}/on" class="btn btn-lg btn-primary">Turn on</a></div>
    {% endif %}
{% endfor %}

</body>
</html>